<h1 >ProductCard:</h1>

<h5>1.<br />@name<br />@price<br />@Category</h5>
<br />
<h5>2.<br /> @name1<br />@price1<br />@Category1</h5>
<br />
<h5>3.<br /> @name2<br />@price2<br />@Category2</h5>

@code {
	string name = "Infinix Note 40";
	int price = 50000;
	string Category = "Mobiles";

	string name1 = "Google Pixel";
	int price1 = 30000;
	string Category1 = "Mobiles";

	string name2 = "SamsungS21 Ultra";
	int price2 = 350000;
	string Category2 = "Mobiles";
}
